In [24]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
from pprint import pprint
import time

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\wpj17\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

## Visit the NASA mars news site

In [3]:
# Visit the Mars news site
url = 'https://redplanetscience.com/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
# Convert the browser html to a soup object
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')

In [15]:
#display the current title content
slide_elem.find('div', class_='content_title')

In [17]:
# Use the parent element to find the first a tag and save it as `news_title`
# ^ -- This doesn't make any sense.  There is no a tag associated with the article title

news_title = slide_elem.find('div', class_='content_title').text
news_title

"NASA's Perseverance Rover Will Peer Beneath Mars' Surface "

In [18]:
# Use the parent element to find the paragraph text

news_p = slide_elem.find('div', class_='article_teaser_body').text
news_p

"The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life. "

## JPL Space Images Featured Image

In [19]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [24]:
# Find and click the full image button

browser.links.find_by_partial_text('FULL').click()

In [25]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [28]:
# find the relative image url
image = img_soup.find('img', class_='fancybox-image')
img_url_rel = image['src']
img_url_rel

'image/featured/mars2.jpg'

In [29]:
# Use the base url to create an absolute url

img_url = url + img_url_rel
img_url

'https://spaceimages-mars.comimage/featured/mars2.jpg'

## Mars Facts

In [4]:
# Visit Galaxy Facts site
url = 'https://galaxyfacts-mars.com'
browser.visit(url)

In [6]:
# Use `pd.read_html` to pull the data from the Mars-Earth Comparison section
# hint use index 0 to find the table

tables = pd.read_html(url)

mf_df = tables[0]

In [7]:

mf_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [8]:
mf_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [65]:
url = 'https://marshemispheres.com/'

browser.visit(url)

In [69]:
# Create a list to hold the images and titles.
hemisphere_image_urls = []

# Get a list of all of the hemispheres
links = browser.find_by_css('a.product-item img')

# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    
    # We have to find the elements on each loop to avoid a stale element exception
    links = browser.find_by_css('a.product-item img')
    links[i].click()
    
    
    # Next, we find the Sample image anchor tag and extract the href
    html = browser.html
    hem_soup = soup(html, 'html.parser')
    
    details = hem_soup.find_all('dd')
    hires_link = details[1].a['href']
    
    hem = dict()
    hem['img_url'] = url + hires_link
    
    # Get Hemisphere title
    hem['title'] = hem_soup.find('h2', class_='title').text
    
    # Append hemisphere object to list
    hemisphere_image_urls.append(hem)
    
    
    # Finally, we navigate backwards
    browser.back()

In [70]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/cerberus_enhanced.tif',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced.tif',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced.tif',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced.tif',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [71]:
browser.quit()